* {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: #F8F8F8;
    margin: 0;
    overflow: hidden;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #F8F8F8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

ul.topnav li a {
    display: block;
    padding: 16px 18px;
    color: #25AAE2;
    text-decoration: none;
    font-weight: 450;
    border-bottom: rgba(19,169,206,0%) solid medium;
}

ul.topnav li a:hover:not(.active) {
    color: rgba(19,169,206,50%);
    border-bottom: #25AAE2 solid medium;
}

ul.topnav li a.active {
    background-color: #25AAE2;
    color: #F8F8F8;
}

ul.topnav li.right {
    float: right;
    margin: auto;
}

ul.topnav li.logo {
    height: 15vh;
    padding-left: 30px;
}

ul.topnav li.right_search {
    float: right;
    margin-top: 0.7%;
    padding-right: 50px;
}

div.right_group {
    margin-top: -6%;
}

input.search_bar {
    border-radius: 1rem;
    padding: 6px 8px;
    outline: none;
    border: #25AAE2 2px solid;
    background-color: #F8F8F8;
    color: #25AAE2;
    font-weight: 450;
    width: 80%;
}
input.search_bar::-webkit-input-placeholder {
    background-color: #F8F8F8;
    color: rgba(19,169,206,60%);
    font-weight: 450;
}


div.sub-content {
    background-image: url("../resources/passenger_plane.svg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    transform: rotate(15deg);
    background-position: 85%;
}


div.content {
    background-image: url("../resources/clouds.svg");
    height: 100%;
    background-size: 70%;
    background-position: 100% 70%;
    background-repeat: no-repeat;
    animation: sub-content-animation-plane 0.9s ease-in-out 0s 1 normal;
}
div.sub-content2 {
    background-image: url("../resources/passenger_plane.svg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: 50%;
    transform: rotate(15deg);
    background-position: 85%;
    animation: sub-content-animation-plane 0.8s ease-in-out 0s 1 normal;
}

@keyframes sub-content-animation-plane {
    0% {opacity: 0%;}
    25% {opacity: 25%;}
    50% {opacity: 50%;}
    75% {opacity: 75%;}
    100% {opacity: 100%;}
}


div.content2 {
    background-image: url("../resources/clouds.svg");
    height: 100%;
    background-size: 70%;
    background-position: 100% 70%;
    background-repeat: no-repeat;
}

span.content-text {
    color: #5F5F5F;
    font-size: 50px;
    position: absolute;
    top: 230px;
    left: 640px;
    animation: sub-content-animation-text 0.8s ease-in-out 0s 1 normal;
}

@keyframes sub-content-animation-text {
    0% {opacity: 0%; top: 200px;}
    25% {opacity: 25%; }
    50% {opacity: 50%;}
    75% {opacity: 75%;}
    100% {opacity: 100%;}
}


span.content-colored {
    color: #25AAE2;
    font-size: 50px;
    font-weight: 450;
}

/* CSS Buttons */
button.btn_book {
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 15%;
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: #25AAE2;
    color: #F8F8F8;
    animation: sub-content-animation-book 0.8s ease-in-out 0.1s 1 normal;
}

@keyframes sub-content-animation-book {
    0% {opacity: 0%; top: 500px;}
    25% {opacity: 25%;}
    50% {opacity: 50%;}
    75% {opacity: 75%;}
    100% {opacity: 100%;}
}
button.btn_book:hover {
    cursor: pointer;
    border: #25AAE2 1px solid;
    color: #25AAE2;
    background-color: rgba(19,169,206,0%);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);
}

/* search flight */
div.content-container{
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 1;
    height: auto;
    animation: content-container-animation 0.8s ease-in-out 0.1s 1 normal;
}

@keyframes content-container-animation {
    0% {opacity: 0%; top: 450px;}
    25% {opacity: 25%;}
    50% {opacity: 50%;}
    75% {opacity: 75%;}
    100% {opacity: 100%;}
}

div.content-item{
    border-radius: 1rem;
    padding: 8px 10px;
    background-color: #F8F8F8;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.25);
    height: 80px;
}

div.content-origin {
    float: left;
    margin-top: 8%;
}
div.content-destination {
    float: left;
    margin-top: 8%;
}

div.content-button {
    float: left;
    margin-top: 8%;
}

input.content-textbox-origin {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: #25AAE2 1px solid;
    outline: none;
    padding: 8px;
}
input.content-textbox-destination {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-left: -2px;
    outline: none;
    border: #25AAE2 1px solid;
    padding: 8px;
}

button.btn-flight {
    border-radius: 0.3rem;
    padding: 8px;
    margin-left: 1px;
    outline: none;
    border: none;
    background-color: #25AAE2;
    color: #F8F8F8;
}

button.btn-flight:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(13,109,149,80%);
}

span.p-flight {
    font-size: 18px;
    position: absolute;
    top: 5%;
    left: 2%;
    font-weight: 450;
    color: #5F5F5F;
}

span.sp-flight-to {
    position: absolute;
    top: 28px;
    font-size: 12px;
    color: #5F5F5F;
}

i.material-icons {
    font-size: 20px;
    color: #25AAE2;
}

/* showFlights CSS */

img.img-bg {
    width: 100%;
    position: absolute;
    left: -500px;
    top: 250px;
    transform: rotate(40deg);
}

span.showflight-text {
    font-size: 25px;
    position: absolute;
    bottom: -43rem;
    right: 5rem;
}
div.showflight-container {
    position: relative;
}

span.showflight-colored {
    color: #25AAE2;
    font-size: 25px;
    font-weight: 450;
}

/* FOR TABLE CSS */
table.tb-container {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 1rem;
}

.tb-container th {
    padding: 2rem;
    font-weight: 450;
}

/* sample */
    .lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


/* CSS ticket */

div.container_ticket {
    position: relative;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    background-color: #F8F8F8;
    width: 40%;
    border-radius: 1rem;
}

h2.container_h2 {
    text-align: center;
    padding: 1rem;  
}

/* LOGIN.php */

div.login_container {
    position: relative;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: #F8F8F8;
    width: 30%;
    border-radius: 0.5rem;
    margin-top: 8%;
    padding: 18px;
}

input.login_container {
    border-radius: 1rem;
    outline: none;
    border: #25AAE2 1.5px solid;
    width: 100%;
    padding: 6px;
    color: #25AAE2;
}

div.inner_login_container {
    padding: 24px;
}

div.username_container {
    margin-bottom: 4%;
    margin-top: -4%;
}

div.password_container {
    margin-bottom: 6%;
}

div.btn_container {
    text-align: center;
}

button.btn_login {
    border-radius: 0.6rem;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #25AAE2;
    color: #F8F8F8;
    font-size: 18px;
}
button.btn_login:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(13,109,149,80%);
}

h2,label {
    color: #25AAE2;
}

/* Admin Page */

ul.topnav_admin {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1%;
    overflow: hidden;
    background-color: #F8F8F8;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

div.admin_container {
    padding-top: 1%;
}

div.button_nav {
    margin-top: -3%;
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

table.tb-container_admin {
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 1rem;
    margin-top: 1%;
}

.tb-container_admin th {
    padding: 1.5rem;
    font-weight: 250;
}

button.btn_del_admin {
    border-radius: 0.6rem;
    padding: 6px;
    outline: none;
    border: none;
    background-color: #B04759;
    color: #F8F8F8;
    font-size: 16px;
}

button.btn_del_admin:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(176,71,89,80%);
}
button.btn_add_admin {
    border-radius: 0.6rem;
    padding: 6px;
    outline: none;
    border: none;
    background-color: #25AAE2;
    color: #F8F8F8;
    font-size: 16px;
}

button.btn_add_admin:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(13,109,149,80%);
}
h3 {
    margin-top: 0.5%;
    padding-right: 4%;
    color: #25AAE2;
    text-align: center;
}

h4 {
    margin-top: 0.3%;
    color: #25AAE2;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
}

div.indiv_button {
    padding-right: 4px;
}

i.bx bx-plus.add {
    font-size: 32px;
}

/* CSS for Model Modal */
.model_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.model_modal_content {
    background-color: #F8F8F8;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 0.5rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input.model_input {
    border-radius: 0.6rem;
    outline: none;
    border: #25AAE2 1.5px solid;
    width: 100%;
    padding: 6px;
    color: #25AAE2;
}

div.model_container {
    padding-bottom: 2%;
}
div.model_container_button {
    padding-bottom: 2%;
    text-align: center;
}

button.model_btn {
    border-radius: 0.6rem;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #25AAE2;
    color: #F8F8F8;
    font-size: 16px;
    width: 30%;
}

button.model_btn:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(13,109,149,80%);
}

h1 {
    color: #25AAE2;
}

@media screen and (max-width:600px){
    ul.topnav li.right,
    ul.topnav li {
        float: left;
    }
}

  